extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Lisa Maria Carbonell 

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | A budding web developer with a passion for business, communication, games, solving puzzles and coding.     
            | I have a background in Business Management/Marketing and Applied Behavioral Science.
            | Learner. Collaborator. Ambitious. Reliable. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Express.js
          li Node.js
          li React
          li jQuery 
          li HTML/CSS
          
        h6 Contact info

        ul
          li 971-300-3488
          li lisacarbonell@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/lisa-carbonell-169a94b5/') LinkedIn
        a.button.expanded(href='https://github.com/lisasea') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  